body {
    margin: 0;
    padding: 0;
    background-color:#0a67f3 
}


.fixed-header {
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(10, 103, 243); 
    color: rgb(255, 255, 255); 
   padding: 0.625em 1.25em 2.5em 0.313em; 
    z-index: 1000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}


.horizontal-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex; 
}
.horizontal-list li {
    margin-right: 1.25em; 
}

.horizontal-list a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.horizontal-list a:hover {
    color: #ccc;
}

.content {
    margin-top: 4.375em; 
}

.content2 {
  margin-top:2em; 
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  
}

.textblok {
   height: 21.875em;
    background-image:url(images/maks\ wax\ berg.jpg); 
    background-repeat:no-repeat;
    background-size: 150%;
    background-position: center;
    color: #ffffff;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
text-align: center;
padding: 2cap;
}

.textblok {
  max-width: 100%;
  height: auto;
}

.textblok2 {
  height: 21.875em;
   background-image:url(images/maks\ wax\ berg.jpg); 
   background-repeat:no-repeat;
   background-size: 5%;
   background-position: center;
   color: #ffffff;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
text-align: center;
padding: 2cap;


.textblok2{
 max-width: 100%;
 height: auto;
}

}

 texth2 { 
    font-size: large;
}

.button {
    display: inline-block;
font-size: larger;
background-color: #ffffff;
padding: 0.313em;
color: #0a67f3;
font-style: oblique;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.button a {
text-decoration: none;
color: #0a67f3;
}

.button2 {
  display: inline-block;
font-size: larger;
background-color: #ffffff;
padding: 0.313em;
color: #0a67f3;
font-style: oblique;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.button2 a {
text-decoration: none;
color: #0a67f3;
}


h2 {
    font-weight: bold;
    color: #ffffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.voordeelgeslpenski {
    padding: 10%;
}

.content { 
margin-top: -1.875em
}


.sstrijkijzer {
    margin-left: auto;
    margin-right: auto;
    display:block
}

.plaatjerechts{ 
    margin-right: 12.5em;
}

* {
    box-sizing: border-box;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .column {
    float: right;
    width: 50%;
    padding: -2em;
    height: 30%; 
    color: #ffffff;
 font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

  }
  
  
  .container {
    border-style: solid; color: #0a67f3;
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

img.column2 {
    width: 80%;
    height: 800%;
  }



  .row2:after {
    display: table;
    clear: both;
  }

  .column3 {
    float: right;
    width: 50%;
    padding: -2em;
    height: 40em; 
    color: #ffffff;
 font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

  }
  
  .prijslijst {
    border-style: solid; color: #0a67f3;
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

img.column3 {
    width: auto;
    height: auto;
  }

  .row4:after {
    content: "";
    display: table;
    clear: both;
    min-height: 10em;
  }

  .column4 {
    float: center;
    width: 50%;
    padding: -2em;
    height: 30%; 
    color: #ffffff;
 font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }


  footer{
background-color: rgb(73, 70, 70);
font-family: Verdana, Geneva, Tahoma, sans-serif;
color: #ffffff;
padding: 1em 2em 3em 11em;

  }

footer a{
text-decoration: none;
color: #ffffff;
}
  
